<a href="https://colab.research.google.com/github/Govindunaik/Govindunaik/blob/main/KNN_Crop_Prediction_day_5_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [63]:
import pandas as pd
data=pd.read_csv('crop.csv')

In [64]:
data

        N   P   K  temperature   humidity        ph    rainfall   label
0      90  42  43    20.879744  82.002744  6.502985  202.935536    rice
1      85  58  41    21.770462  80.319644  7.038096  226.655537    rice
2      60  55  44    23.004459  82.320763  7.840207  263.964248    rice
3      74  35  40    26.491096  80.158363  6.980401  242.864034    rice
4      78  42  42    20.130175  81.604873  7.628473  262.717340    rice
...   ...  ..  ..          ...        ...       ...         ...     ...
2195  107  34  32    26.774637  66.413269  6.780064  177.774507  coffee
2196   99  15  27    27.417112  56.636362  6.086922  127.924610  coffee
2197  118  33  30    24.131797  67.225123  6.362608  173.322839  coffee
2198  117  32  34    26.272418  52.127394  6.758793  127.175293  coffee
2199  104  18  30    23.603016  60.396475  6.779833  140.937041  coffee

[2200 rows x 8 columns]

In [65]:
X=data.iloc[:,:-1].values
Y=data.iloc[:,-1].values

In [66]:
X

array([[ 90.        ,  42.        ,  43.        , ...,  82.00274423,
          6.50298529, 202.9355362 ],
       [ 85.        ,  58.        ,  41.        , ...,  80.31964408,
          7.03809636, 226.6555374 ],
       [ 60.        ,  55.        ,  44.        , ...,  82.3207629 ,
          7.84020714, 263.9642476 ],
       ...,
       [118.        ,  33.        ,  30.        , ...,  67.22512329,
          6.36260785, 173.3228386 ],
       [117.        ,  32.        ,  34.        , ...,  52.12739421,
          6.75879255, 127.1752928 ],
       [104.        ,  18.        ,  30.        , ...,  60.39647474,
          6.77983261, 140.9370415 ]])

In [67]:
Y

array(['rice', 'rice', 'rice', ..., 'coffee', 'coffee', 'coffee'],
      dtype=object)

In [68]:
k=pd.get_dummies(data.label)

In [69]:
k

      apple  banana  blackgram  ...  pomegranate  rice  watermelon
0         0       0          0  ...            0     1           0
1         0       0          0  ...            0     1           0
2         0       0          0  ...            0     1           0
3         0       0          0  ...            0     1           0
4         0       0          0  ...            0     1           0
...     ...     ...        ...  ...          ...   ...         ...
2195      0       0          0  ...            0     0           0
2196      0       0          0  ...            0     0           0
2197      0       0          0  ...            0     0           0
2198      0       0          0  ...            0     0           0
2199      0       0          0  ...            0     0           0

[2200 rows x 22 columns]

In [70]:
Y=k.values

In [71]:
Y

array([[0, 0, 0, ..., 0, 1, 0],
       [0, 0, 0, ..., 0, 1, 0],
       [0, 0, 0, ..., 0, 1, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=uint8)

In [72]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X=sc.fit_transform(X)

In [73]:
X

array([[ 1.0687974 , -0.34455075, -0.1016875 , ...,  0.47266646,
         0.04330173,  1.8103605 ],
       [ 0.93332887,  0.14061552, -0.14118477, ...,  0.39705125,
         0.73487256,  2.24205791],
       [ 0.25598625,  0.04964684, -0.08193887, ...,  0.48695381,
         1.77151047,  2.92106603],
       ...,
       [ 1.82742114, -0.61745677, -0.35841972, ..., -0.19123516,
        -0.13812031,  1.27141766],
       [ 1.80032743, -0.64777967, -0.27942519, ..., -0.86951801,
         0.37390383,  0.43154519],
       [ 1.44810927, -1.07230015, -0.35841972, ..., -0.49802006,
         0.40109573,  0.68200518]])

In [74]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2)

In [75]:
X_test

array([[ 1.36682815, -1.10262304, -0.02269297, ...,  1.04444468,
        -0.36758967, -1.40420762],
       [ 0.93332887, -0.46584232, -0.14118477, ...,  0.50796164,
        -0.2848802 ,  3.15203867],
       [ 1.74614002, -1.10262304,  0.13529608, ...,  1.01699339,
         0.39683143, -1.37191543],
       ...,
       [ 1.12298481,  0.83804203,  0.07605019, ...,  0.22671089,
        -0.74708546,  0.00437563],
       [ 0.74367294, -0.22325918, -0.12143613, ...,  0.31348649,
         0.80894825,  0.94495679],
       [-1.23416752, -0.73874834, -0.08193887, ...,  0.96928939,
        -1.1520139 ,  0.02404265]])

In [76]:
Y_train

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 1, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=uint8)

In [77]:
X_test

array([[ 1.36682815, -1.10262304, -0.02269297, ...,  1.04444468,
        -0.36758967, -1.40420762],
       [ 0.93332887, -0.46584232, -0.14118477, ...,  0.50796164,
        -0.2848802 ,  3.15203867],
       [ 1.74614002, -1.10262304,  0.13529608, ...,  1.01699339,
         0.39683143, -1.37191543],
       ...,
       [ 1.12298481,  0.83804203,  0.07605019, ...,  0.22671089,
        -0.74708546,  0.00437563],
       [ 0.74367294, -0.22325918, -0.12143613, ...,  0.31348649,
         0.80894825,  0.94495679],
       [-1.23416752, -0.73874834, -0.08193887, ...,  0.96928939,
        -1.1520139 ,  0.02404265]])

In [78]:
from sklearn.neighbors import KNeighborsClassifier
classifier=KNeighborsClassifier(n_neighbors=5)

In [79]:
classifier.fit(X_train,Y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [80]:
Y_pred=classifier.predict(X_test)

In [81]:
Y_pred

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 1, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 1, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 1, 0, 0]], dtype=uint8)

In [82]:
from sklearn.metrics import accuracy_score
print(accuracy_score(Y_test,Y_pred))

0.9727272727272728

In [83]:
! pip install flask_ngrok

Requirement already satisfied: flask_ngrok in /usr/local/lib/python3.7/dist-packages (0.0.25)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from flask_ngrok) (2.23.0)
Requirement already satisfied: Flask>=0.8 in /usr/local/lib/python3.7/dist-packages (from flask_ngrok) (1.1.4)
Requirement already satisfied: click<8.0,>=5.1 in /usr/local/lib/python3.7/dist-packages (from Flask>=0.8->flask_ngrok) (7.1.2)
Requirement already satisfied: Werkzeug<2.0,>=0.15 in /usr/local/lib/python3.7/dist-packages (from Flask>=0.8->flask_ngrok) (1.0.1)
Requirement already satisfied: Jinja2<3.0,>=2.10.1 in /usr/local/lib/python3.7/dist-packages (from Flask>=0.8->flask_ngrok) (2.11.3)
Requirement already satisfied: itsdangerous<2.0,>=0.24 in /usr/local/lib/python3.7/dist-packages (from Flask>=0.8->flask_ngrok) (1.1.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from Jinja2<3.0,>=2.10.1->Flask>=0.8->flask_ngrok) (2.0.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->flask_ngrok) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->flask_ngrok) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->flask_ngrok) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->flask_ngrok) (2.10)

In [ ]:
from flask import Flask,render_template,request
from flask_ngrok import run_with_ngrok
app=Flask(__name__)
run_with_ngrok(app)
@app.route('/')
def homepage():
  return render_template('crop.html')
@app.route('/',methods=['POST'])
def collectdata():
  n=request.form['n']
  p=request.form['p']  
  k=request.form['k']
  temp=request.form['temp']
  humidity=request.form['humidity']
  ph=request.form['ph']
  rainfall=request.form['rainfall']
  l=[n,p,k,temp,humidity,ph,rainfall]
  j=data.iloc[:,:-1]
  j.loc[len(j.index)]=1
  j=j.values
  j=sc.fit_transform(j)


  t=(classifier.predict[j[-1]])[0]
  dummy=pd.get_dummies(data.label)
  m=t.index(1)
  print(t)
  
  
  print(dummy.columns[m])
  return(render_template('crop.html'))

if  __name__=="__main__":
  app.run()

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)

 * Running on http://95b8-34-74-237-194.ngrok.io
 * Traffic stats available on http://127.0.0.1:4040

127.0.0.1 - - [12/Nov/2021 11:19:57] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [12/Nov/2021 11:19:58] "GET /favicon.ico HTTP/1.1" 404 -
[2021-11-12 11:20:09,997] ERROR in app: Exception on / [POST]
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/flask/app.py", line 2447, in wsgi_app
    response = self.full_dispatch_request()
  File "/usr/local/lib/python3.7/dist-packages/flask/app.py", line 1952, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "/usr/local/lib/python3.7/dist-packages/flask/app.py", line 1821, in handle_user_exception
    reraise(exc_type, exc_value, tb)
  File "/usr/local/lib/python3.7/dist-packages/flask/_compat.py", line 39, in reraise
    raise value
  File "/usr/local/lib/python3.7/dist-packages/flask/app.py", line 1950, in full_dispatch_request
    rv = self.dispatch_request()
  File "/usr/local/lib/python3.7/dist-packages/flask/app.py", line 1936, in dispatch_request
    return self.view_functions[rule.endpoint](**req.view_args)
  File "<ipython-input-99-d6d1a631e47e>", line 24, in collectdata
    t=(classifier.predict[j[-1]])[0]
TypeError: 'method' object is not subscriptable
127.0.0.1 - - [12/Nov/2021 11:20:10] "POST / HTTP/1.1" 500 -